.header {
  border-bottom: 1px solid #ececec;
}

.header__conteiner {
  display: flex;
  align-items: center;
  // position: relative;
  @media screen and (max-width: 767.98px) {
    justify-content: space-between;
  }
}

.header__logo {
  // margin-right: 93px;
  color: $titleTxtColor;
  @media screen and (max-width: 767.98px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  
}
