.logo {
    font-family: 'Raleway';
    font-size: 24px;
    line-height: 1.16;
    
    @include media (desktop){
      font-size: 26px;
      line-height: 1.19;

    }
  }

  .logo-accent {
    color: $accentColor;
  }