.menu-btn {
    top: 10px;
    right: 5px;
  
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 5;
    cursor: pointer;
  
    &:hover,
    &:focus &__icon {
      fill: #2196f3;
    }
  
    .menu-close {
      display: none;
    }
  
    &.is-open .menu-close {
      display: block;
    }
  
    &.is-open .menu-burger {
      display: none;
    }
  
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  
  .menu-conteiner {
      background-color: #ffffff;
    
      @media screen and (max-width: 767.98px) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
          padding: 48px 40px;
    
        &.is-open {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          z-index: 1;
        }
      }
  
        @media screen and (min-width: 768px){
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      
        }
     
    }
    
  .menu-networks{
      display: none;
      flex-wrap: wrap;
    
      @media screen and (max-width: 767.98px) {
        display: flex;
    
        font-size: 18px;
        line-height: 1.2;
      
        &__link {
          color: $accentColor;
        }
      
        &__item:not(:first-child) {
          margin-left: 10px;
        }
      
        &__item:not(:last-child) {
          border-right: 1px solid rgba(33, 33, 33, 0.2);
          padding-right: 10px;
        }
      }
  
       @media screen and (max-width: 479.98px) {
        font-size: 10px;
  }
  
  }