body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;

  color: $primatyTxtColor;
  background-color: $whiteColor;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;

  @include media (desktop){
  padding-top: 94px;
  padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: $titleTxtColor;

  @include media (desktop){
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.33;
  }
}